<h1
 data-sal="zoom-out"
 data-sal-delay="400"
 data-sal-duration="900"
data-sal-easing="ease-out-quad"
 class="text-center"
>Team</h1>

<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/1.png" >
<p>Luis Alejandro Mata(@mataperezluis)</p>
<p>Software developer. Creator of the solcapys project and main executor of communication and development strategy. Enthusiast of capybaras, their protection and preservation</p>
</div>
<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/2.jpeg">
<p>Jose Ney Gandica(@NeyGandica)</p>
<p>Data scientists expert in the natural behaviour of capybaras and their social relationships. Solana enthusiast.</p>
</div>
<div  class="capyBody">
<img src="../../../assets/Imagenes_proyectos/3.jpeg">
<p>Rolando Gonzalez Rodriguez(@rolygr)</p>
<p>Telecommunications engineer. Main consultant and strategist of the solcapys project. Animal lover, vegetarian and fervent protector of animal rights</p>
</div>