.capyBody {
    text-align: center;
    padding: 1%;
  }
  
  .capyBody img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5%;
  }

  p
{
  color: white;
  z-index: 20 !important;
  
}

h1
{

  padding-bottom: 3em;
  color: white;
  z-index: 20 !important;
}
