<h1
 data-sal="zoom-out"
 data-sal-delay="400"
 data-sal-duration="900"
data-sal-easing="ease-out-quad"
 class="text-center"
>Types of Capys</h1>

<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/zombie.png" >
<p>Zombie</p>
</div>
<div  class="capyBody">
<img src="../../../assets/Imagenes_proyectos/blue.png">
<p>Blue</p>
</div>
<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/green.png" >
<p>Green</p>
</div>
<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/purple.png" >
<p>Purple</p>
</div>
<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/gold.png">
<p>Golden</p>
</div>
<div class="capyBody">
<img src="../../../assets/Imagenes_proyectos/regular.png">
<p>Regular</p>
</div>







