
  <header style="height: 100vh;">

    <div class="sketch-container">
        <div id="sketch-holder">
         <!-- <a  class="navbar-brand mx-auto"><img src="assets/logo.png" alt="" id="logo"></a> -->
        </div>
      </div>





      <a routerLink="/">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" id="nav-bar">
        <!--  <hr  style="width:90%; "/>-->
               
            </nav>
      </a>


  <!--<a href="#portfolio-section" class="mouse-wrap smoothscroll" (click)="onClickScrollRaton()" >
            <span class="mouse">
              <span class="scroll"></span>
            </span>
            <span class="mouse-label">Scroll</span>
          </a>
        -->

  </header>





    <!-- Header Section End -->
