.container
{
padding-top:  150px;
height: 100vh;
padding-bottom: 150px;
position: relative;
z-index: 20 !important;

}

p
{
  color: white;
  z-index: 20 !important;
  
}

h1
{

  padding-bottom: 3em;
  color: white;
  z-index: 20 !important;
}

.capyBody {
  text-align: center;
  padding: 1%;
}

.capyBody img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 5%;
}
