<div class="container" style="height: 100vh;">
    <h1 data-sal="zoom-out"
    data-sal-delay="400"
    data-sal-duration="900"
   data-sal-easing="ease-out-quad"
    class="text-center" #tituloAbout >Roadmap</h1>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">We aim to create a great community, this roadmap is open to new ideas and changes</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Generate the art for the 3333 pixel capybaras&#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Create the Web Page&#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Drop the capys 07/10/2021&#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- giveaway at 50% claimed&#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- giveaway at 100% capys claimed&#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- release capys rarity&#10004;</p>

<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- publish capys collection on nft markets we have Digital Eyes by now &#10004;</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Generate token</p>
  </div>
  <br>
  <br>

<br>
<br>