<div class="container" style="height: 100vh;">
    <h1 data-sal="zoom-out"
    data-sal-delay="400"
    data-sal-duration="900"
   data-sal-easing="ease-out-quad"
    class="text-center" #tituloAbout >Roadmap</h1>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">We aim to create a great community this roadmap is open to new ideas and changes</p>
<s>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Generate the art 3333 pixel capybaras</p></s>
<s>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Create the Web Page</p></s>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Set the Mint Date</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- 100% capys claimed</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- publish capys collection on nft markets</p>
<p data-sal="slide-right"
data-sal-delay="400"
data-sal-duration="900"
data-sal-easing="ease-out-quad"
class="text-center"
class="lead text-left">- Generate token</p>
  </div>